<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xl.test.javabasic.orm.mybatis.UserMapper">
  <sql id="Base_Column_List">
    id, sid, assignee, role_id, assignee_type, activti_name
  </sql>
  <insert id="save" parameterType="xl.test.javabasic.orm.User">
    insert into user(name,age,sex) values (#{name},#{age},#{sex})
  </insert>

  <select id="listUser" resultType="xl.test.javabasic.orm.User">
    select * from user
  </select>
</mapper>