<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="driver" class="com.mysql.jdbc.Driver"/>

    <!-- 数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driver" ref="driver"/>
        <property name="url" value="jdbc:mysql://180.171.150.60:3306/test?allowMultiQueries=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false"/>
        <property name="username" value="xuan"/>
        <property name="password" value="xuan"/>
    </bean>

    <!--mybatis的SqlSession的工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="orm/mybatis/mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--    可以一个一个地添加 mapper bean, 比较低效-->
<!--    <bean id = "userMapper" class = "org.mybatis.spring.mapper.MapperFactoryBean">-->
<!--        <property name="mapperInterface" value="xl.test.javabasic.orm.mybatis.UserMapper"/>-->
<!--        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
<!--    </bean>-->

    <!--批量扫描添加mapper bean-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="xl.test.javabasic.orm.mybatis"/>
    </bean>

    <!--启动事务-->
    <tx:annotation-driven order="3"/>

    <!--事务配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--注册service-->
    <bean id="userService" class="xl.test.javabasic.orm.mybatis.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
</beans>